
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.AnimalName</h2>

<p>Hello this is a test application that I am building to learn MVC</p>
<p>Tiger is a very strong animal and an excellent hunter</p>

